# Ignore saved graphs directory
saved_graphs/

# Ignore TSP data directory
tsplib_95_data/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment
venv/
env/
ENV/

# Ignore IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore compiled Python files
*.pyc

# Ignore package distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# Ignore pytest cache
.pytest_cache/

# Ignore mypy cache
.mypy_cache/

# Ignore environment variables file
.env
